body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  h1 {
    text-transform: uppercase;
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  .ingredients {
    margin: 20px 0;
  }
  
  .ingredients li {
    list-style-type: square;
  }
  
  .directions {
    margin: 20px 0;
  }
  
  .directions ol {
    list-style-type: decimal;
  }
  
  .image {
    text-align: center;
  }
  
  .image img {
    border: 1px solid #ccc;
    max-width: 400px;
    height: 200px;
  }
  