body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            line-height: 23px;
        }
        .container {
  width: 80%;
  margin: auto;
}
        h1 {
      color: #007bff;
    }

        dl {
            margin-top: 20px;
        }

        dt {
            font-weight: bold;
        }

        dd {
            margin-bottom: 10px;
        }